@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: ui-sans, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
}

.ql-tooltip {
  position: absolute !important;
  transform: translateX(0%) !important;
  left: 0px !important;
}

@layer base {
  body {
    @apply dark:bg-gray-900 bg-white;
  }
}

:is(.dark body) {
  background-color: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.post-item{
  padding:2em;
  border-radius: 10px;
  margin:10px;
}

.post-item h3 a{
  font-size: x-large;
  font-weight:800 !important;
}

.post-item a:hover{
  color:#5423E7;
}